<!DOCTYPE html>
<html>

<head>
  <title> Rate My Place</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://kit.fontawesome.com/8efdc55093.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/css/main.css">
</head>

<body>

  <nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
    <a class="navbar-brand" href="/">Rate My Place</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Options
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Add my place</a>
            <a class="dropdown-item" href="#">Edit my place</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item float-right">
          <a class="nav-link dropdown-toggle" href="#" id="navbarSearchDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Search
          </a>
          <div class="dropdown-menu col-6 p-3" aria-labelledby="navbarSearchDropdown">
            <form id="searchParams">
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputEmail4">Name</label>
                  <input type="email" name="name" class="form-control" id="inputEmail4" placeholder="Baker Street Apartments">
                </div>

                <div class="form-group col-md-6">
                  <label for="inputEmail4">Property Manager</label>
                  <input type="email" name="propMgr" class="form-control" id="inputEmail4" placeholder="Mrs Hudson">
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputEmail4">Street Address</label>
                  <input type="email" name="streetAddress" class="form-control" id="inputEmail4" placeholder="221b Baker St">
                </div>

                <div class="form-group col-md-6">
                  <label for="inputEmail4">City</label>
                  <input type="email" name="city" class="form-control" id="inputEmail4" placeholder="Marylebone, London">
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputEmail4">State</label>
                  <input type="email" name="state" class="form-control" id="inputEmail4" placeholder="UK">
                </div>
                <div class="form-group col-md-6">
                  <label for="inputEmail4">Zip Code</label>
                  <input type="email" name="zip" class="form-control" id="inputEmail4" placeholder="NW1 6XE">
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputEmail4">Phone Number</label>
                  <input type="email" name="phone" class="form-control" id="inputEmail4" placeholder="Phone Number">
                </div>
                <div class="form-group col-md-6">
                  <label for="inputEmail4">Apartment or House</label>
                  <input type="email" name="type" class="form-control" id="inputEmail4" placeholder="Phone Number">
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6 text-right">
                  <br>
                  <div class="container">
                    <button type="button" class="btn btn-outline-success mt-2 col-12" id="submitSeachBtn">Search</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </li>
      </ul>
    </div>
  </nav>

  {{{body}}}
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script src="/js/index.js"></script>
</body>

</html>