<!DOCTYPE html>
<html>

<head>
  <title> Rate My Place</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://kit.fontawesome.com/8efdc55093.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  <link rel="stylesheet" href="/styles/main.css">
  <link rel="stylesheet" href="/styles/styles.css">
</head>

<body>

  <nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light border-top border-info border-3">
    <button type="button" id="sidebarCollapse" class="btn btn-success mx-3">
      <i class="fas fa-bars"></i>
    </button>

    <a class="navbar-brand mr-0" href="/">Rate My Place</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item dropdown mx-4">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <h2 class="m-1 nav-icon">
              <i class="fas fa-cog"></i>
            </h2>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/addmyplace">Add A Place</a>
            <a class="dropdown-item" href="/signup">Sign Up</a>
            <a class="dropdown-item" href="/signin">Log in</a>
            <a class="dropdown-item" href="/editProfile">Edit Profile</a>
          </div>
        </li>

        <li class="nav-item">
          <a class="nav-link dropdown dropdown-toggle " href="#" id="navbarSearchDropdown" data-toggle="dropdown"
            role="button" aria-haspopup="true" aria-expanded="false">
            <h2 class="m-1 nav-icon">
              <i class="fas fa-search"></i>
            </h2>
          </a>
          <div class="dropdown-menu col-6 p-3" aria-labelledby="navbarSearchDropdown">
            <form id="searchParams">
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="name">Name</label>
                  <input type="name" name="name" class="form-control" id="name" placeholder="Baker Street Apartments">
                </div>

                <div class="form-group col-md-6">
                  <label for="manager">Property Manager</label>
                  <input type="name" name="propMgr" class="form-control" id="manager" placeholder="Mrs Hudson">
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="address">Street Address</label>
                  <input type="address" name="streetAddress" class="form-control" id="address"
                    placeholder="221b Baker St">
                </div>

                <div class="form-group col-md-6">
                  <label for="city">City</label>
                  <input type="city" name="city" class="form-control" id="city" placeholder="Marylebone, London">
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="state">State</label>
                  <input type="state" name="state" class="form-control" id="state" placeholder="UK">
                </div>
                <div class="form-group col-md-6">
                  <label for="zip">Zip Code</label>
                  <input type="zip" name="zip" class="form-control" id="zip" placeholder="NW1 6XE">
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="number">Phone Number</label>
                  <input type="number" name="phone" class="form-control" id="number" placeholder="Phone Number">
                </div>
                <div class="form-group col-md-6">
                  <label for="aptorhouse">Apartment or House</label>
                  <input type="aptorhouse" name="type" class="form-control" id="aptorhouse" placeholder="Apartment">
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6 text-right">
                  <br>
                  <div class="container">
                    <button type="button" class="btn btn-outline-success mt-2 col-12"
                      id="submitSeachBtn">Search</button>
                  </div>
                </div>
                <div class="container col-md-6">
                  <label for="sort">Sort By</label>
                  <div class="row">
                    <div class="form-group col-7">
                      <select class="custom-select form-control" name="sort">
                        <option value="name" selected>Name </option>
                        <option value="ratingAvg">Rating</option>
                        <option value="createdAt">Date Posted</option>>
                      </select>
                    </div>
                    <div class="form-group col-5">
                      <select class="custom-select form-control" name="sortDirection">
                        <option value="DESC" selected>Descending</option>
                        <option value="ASC">Ascending</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </li>

       <li class="nav-item" id="nav-nmspot">
          {{!-- <p>hello: {{firstname}} </p>
          <h1>test</h1> --}}
             {{#if firstname}}
            <p>Hello {{firstname}}</p>
              <p><a href="/logout">logout</a> </p>
            {{else}}
            <p> <a href='/signin'>Log In</a></p>
            {{/if}}
        </li> 

      </ul>
    </div>
  </nav>

  <div class="mt-4 mb-2">I MADE THIS FOR YOU!!!!!</div>

  <div class="wrapper d-flex align-self-stretch">

    <!-- Sidebar -->
    <nav class="mt-5" id="sidebar">
      <div class="sidebar-header text-white text-center">
        <h3>Places</h3>
      </div>

      <div class="list-group col-12 text-center results-container">
      </div>

    </nav>

    <!-- Page Content -->
    <div id="content">

      {{{body}}}

    </div>

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"></script>
    <script src="/js/index.js"></script>
    <script>
      AOS.init();
    </script>
</body>

</html>