<!DOCTYPE html>
<html lang="en">

<head>
  <title> Rent My Place</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

  <style>

  </style>

</head>

<body>

  <div class="container-fluid">
    <div class="row content">
      <div class="col-sm-3 sidenav">
        <h4>Rent My Place</h4>
        <ul class="nav nav-pills nav-stacked">
          <li class="active"><a href="#section1">Home</a></li>
          <li><a href="#section2">Sign Up </a></li>
          <li><a href="#section3">Log in</a></li>

        </ul><br>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">
              <span class="glyphicon glyphicon-search"></span>
            </button>
          </span>
        </div>
      </div>

      <div class="col-sm-9">
        <h4><small></small></h4>
        <hr>
        <h2>Add A Review</h2>

        <form>

          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputEmail4">Name Of The Place</label>
              <input type="email" class="form-control" id="inputEmail4" placeholder="Place Name">
            </div>




            <div class="form-group col-md-6">
              <label for="inputEmail4">Property Manger</label>
              <input type="email" class="form-control" id="inputEmail4" placeholder="Name of the Manger">
            </div>

          </div>

          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputEmail4">Street Address</label>
              <input type="email" class="form-control" id="inputEmail4" placeholder="Street Address">
            </div>


            <div class="form-group col-md-6">
              <label for="inputEmail4">City</label>
              <input type="email" class="form-control" id="inputEmail4" placeholder="City">
            </div>

          </div>

          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputEmail4">State</label>
              <input type="email" class="form-control" id="inputEmail4" placeholder="State">
            </div>


            <div class="form-group col-md-2">
              <label for="inputEmail4">Zip Code</label>
              <input type="email" class="form-control" id="inputEmail4" placeholder="Zip Code">
            </div>




            <div class="form-group col-md-6">
              <label for="inputEmail4">Phone Number</label>
              <input type="email" class="form-control" id="inputEmail4" placeholder="Phone Number">
            </div>

            <div class="form-row">
                <div class="form-group col-sm-6">
                  <h4>Add a Review:</h4>
                  <form role="form">
                    <div class="form-group">
                      <textarea class="form-control" rows="3" required></textarea>
                    </div>
        
                    <div class="submit">
                      <button type="submit" class="btn btn-primary">Submit</button>
                  </form>
                  <br><br>
                </div>
        
              </div>

          </div>





          </select>
      </div>


      <!-- <div class="form-row">
            <div class="form-group col-md-6">    
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div> -->



      <!-- <div class="form-row">
        <div class="form-group col-sm-6">
          <h4>Add a Review:</h4>
          <form role="form">
            <div class="form-group">
              <textarea class="form-control" rows="3" required></textarea>
            </div>

            <div class="submit">
              <button type="submit" class="btn btn-primary">Submit</button>
          </form>
          <br><br>
        </div>

      </div> -->
    <!-- </div>
  </div>
  </div>
  </div>
  </div> -->



</body>

</html>

<form class="pure-form pure-form-aligned">

  <!-- CREATE PLACE FORM
                allow create if 
                (username and pass = true)
                and (user type is owner)

            {name: search}, 
            {streetAddress: search}, 
            {phone: search},
            {propType: drop down list,
            {propMgr: search},
            {city: search},
            {state: search},
            {zip: search},
            {rating drop down
            img urls
            Creator Id - back end
             -->

  <!-- RESULTS DIV (READ) -->
  <div id="results">
    <!-- for each result create {
                    card { 
                        {{#each results}}-->
    <div class="card" data-toggle="modal" data-target=".bd-place-modal-lg" style="width: 18rem;">
      <img class="card-img-top" src="result[i].imgHead" alt="Card image cap">
      <div class="card-img-overlay">
        <h5 class="card-title" text="result[i].name"></h5>
      </div>
      <div class="card-body">
        <p class='result[i].streetAddress result[i].city result[i].state result[i].zip'></p>
        <p class='result[i].rating'></p>
      </div>
    </div>

    <!-- Title
                        Address
                        Phone
                        Prop Manager
                        Images
                        Star Rating
                       -->
    <!-- Place Details modal -->
    <div class="modal fade bd-place-modal-lg" tabindex="-1" role="dialog" aria-labelledby="My-Place-Modal"
      aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <h4 class="modal-title" text="result[i].name" id="myLargeModalLabel"></h4>
        <hr />
        <div class="modal-content">
          <p class='result[i].streetAddress result[i].city result[i].state result[i].zip'></p>
          <p class='result[i].rating'></p>
          <!--COMMENT OPTION IF (userType = tenant)-->
          <div class="input-group">
            <textarea class="form-control" name="" id="" rows="3"></textarea>
            <span class="input-group-btn">
              <button type="button" class="btn btn-secondary dropdown-toggle" aria-label="rating" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Stars
              </button>
              <div class="dropdown-menu">
                <div>0</div>
                <div>1</div>
                <div>2</div>
                <div>3</div>
                <div>4</div>
                <div>5</div>
              </div>
            </span>
            <button type="submit" class="btn btn-primary">Comment</button>
          </div>
          <!-- END COMMENT OPTION -->
          <div class="comments">
            <ul class="list-group">
              <!-- {{#each comments}} -->
              <li class="list-group-item">
                <div class="row">
                  <h5 class="comment-user"></h5>
                  <div class="comment-text"></div>
                  <div class="comment-rating"></div>
                </div>
              </li>
              <!-- {{/each}} -->
            </ul>
          </div>

        </div>
      </div>
    </div>
    <!-- END PLACE DETAILS MODAL-->
  </div>

  <!--
                        onClick modal {comments
                        add comments button {
                            append (
                                text area for comment
                                rating
                                )
                        }}
                        comments
                        add comments div {
                            text area for comment
                            rating
                        }
                    }
                }

            -->
  <!-- {{/each}} -->
  </div>

  <!-- Edit Place (PUT/UPDATE)
            allow edit if (user Id = Creator Id) and (username and pass = true)

            {name: search}, 
            {streetAddress: search}, 
            {phone: search},
            {propType: drop down list,
            {propMgr: search},
            {city: search},
            {state: search},
            {zip: search},

            DELETE PLACE
            userId - back end
            -->

  <!-- Create User
        
        

         </div>

            Type: Owner / Renter
            Name
            Username
            AuthToken
            Password

            backend
            add fave/owned places (ids) column

            -->

  <div class="container"></div>
  <h3>Create User</h3>
  <form>
      <div class="form-row">
        <div class="col-3">
          <input type="text" class="form-control" placeholder="Name">
        </div>
        <div class="col-3">
          <input type="text" class="form-control" placeholder="User Name">
        </div>
        <div class="col-3">
          <input type="text" class="form-control" placeholder="Auth Token">
        </div>
        <div class="col-3">
            <input type="text" class="form-control" placeholder="Password">
          </div>
      </div>
      <div class="submit">
          <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
<!--   
  <fieldset>
    <div class="pure-menu pure-menu-horizontal">
      <ul class="pure-menu-list">
        <li class="pure-menu-item pure-menu-selected"><a href="#" class="pure-menu-link"></a></li>
        <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
          <a href="#" id="menuLink1" class="pure-menu-link">Type</a>
          <ul class="pure-menu-children">
            <li class="pure-menu-item"><a href="#" class="pure-menu-link">Owner</a>
            </li>
            <li class="pure-menu-item"><a href="#" class="pure-menu-link">Renter</a></li>

        </li>
      </ul>
      </li>
      </ul>
    </div>

    <div class="pure-control-group">
      <label for="name">Name</label>
      <input id="name" type="text" placeholder="Name">
    </div>

    <div class="pure-control-group">
      <label for="name">UserName</label>
      <input id="name" type="text" placeholder="UserName">
    </div>

    <div class="pure-control-group">
      <label for="name">AuthToken</label>
      <input id="name" type="text" placeholder="AuthToken">

    </div>
    <div class="pure-control-group">
      <label for="name">AuthToken</label>
      <input id="name" type="text" placeholder="Password">
    </div> -->
    <!-- this is where the name goes  -->




    <!-- ADVANCED SEARCH
            {name: search}, 
            {streetAddress: search}, 
            {phone: search},
            {propType: drop down list,
            {propMgr: search},
            {city: search},
            {state: search},
            {zip: search},
            rating
        -->


    </body>

    </html>