<h2>Add A Review</h2>

<form>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputEmail4">Name Of The Place</label>
            <input type="email" class="form-control" id="inputEmail4" placeholder="Place Name">
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputEmail4">Property Manger</label>
                <input type="email" class="form-control" id="inputEmail4" placeholder="Name of the Manger">
            </div>

        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputEmail4">Street Address</label>
                <input type="email" class="form-control" id="inputEmail4" placeholder="Street Address">
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputEmail4">City</label>
                <input type="email" class="form-control" id="inputEmail4" placeholder="City">
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputEmail4">State</label>
                <input type="email" class="form-control" id="inputEmail4" placeholder="State">
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-2">
                <label for="inputEmail4">Zip Code</label>
                <input type="email" class="form-control" id="inputEmail4" placeholder="Zip Code">
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputEmail4">Phone Number</label>
                <input type="email" class="form-control" id="inputEmail4" placeholder="Phone Number">
            </div>
        </div>
</form>