<div class="container container-fluid position-relative" style="height: 100vh">
    <a class="container position-absolute display-1 text-center" style="top:40vh; font-style: normal" href="/search/-/-/-/-/-/-/-/-/">RATE THEM PLACES</a>
</div>
