<div class="splash-container">
    <form class="splash search">
        <h1 class="splash-head">What Are You Looking For?</h1>
        <p>
            <input type="search" name="search" id="search">
            <a href="/ratemyplace" type='submit' id='submit' class="pure-button pure-button-primary">Get Started</a>
        </p>
    </form>
</div>
