<div class="jumbotron mt-5">
  <h1 class="display-4">Where?</h1>
  <p class="lead">It looks like we don't have any places with those specifications in our database yet.</p>
  <hr class="my-4">
  <p>Will you help us out and add one?</p>
  <p class="lead">
    <a class="btn btn-success btn-lg" href="/addmyplace" role="button">Add my place</a>
  </p>
</div>