<div class="container" id="newsignin">
<form id="signin" name="signin" method="post" action="signin">
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="password" name="password" placeholder="Password">
  </div>
  <button type="submit" value="Sign in" class="btn btn-primary">Submit</button>
</form>

<div><h3>
  <a href="/signup">No account? Click here to Signup!</a>
</h3></div>
</div>

